<%= render 'service/nav' %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-content">

                        <div class="left-align">
                            <h5><b>
                                <%= current_user.name %>님의 계정정보
                            </h5>
                        </div>
                        <div class="card-action">
                            <p><i class="tiny material-icons">email</i>이메일 : <%= current_user.email %></p>
                            <p><i class="tiny material-icons">perm_identity</i>이름 : <%= current_user.name %></p>

                            <% if current_user.membership %>

                            <br>
                            <p><i class="tiny material-icons">loyalty</i>[멤버십]</p>

                                    <p><i class="tiny material-icons">supervisor_account</i>훈련병 이름 : <%= current_user.membership.s_name %></p>
                                    <p><i class="tiny material-icons">supervisor_account</i>훈련병 생년월일 : <%= current_user.membership.s_birth %></p>

                                <% if current_user.membership.s_date %>
                                    <p><i class="tiny material-icons">schedule</i>훈련병 입대날짜 : <%= (current_user.membership.s_date).strftime("%Y") %>년
                                                        <%= (current_user.membership.s_date).strftime("%m") %>월
                                                        <%= (current_user.membership.s_date).strftime("%d") %>일
                                    </p>
                                <% else %>
                                    <p><i class="tiny material-icons">schedule</i>훈련병 입대날짜 : 입대날짜를 입력해주세요.
                                    </p>
                                <% end %>
                                    <p><i class="tiny material-icons">label_outline</i>훈련병 주소 :

                                      <%= current_user.membership.s_type %>

                                    </p>


                                <% if current_user.membership.s_date %>
                                    <p><i class="tiny material-icons">stars</i>훈련병 수료날짜 :
                                        <% if current_user.membership.s_date.wday == 1 or current_user.membership.s_date.wday == 2 %>

                                          <%= (current_user.membership.s_date + 37.days).strftime("%Y") %>년
                                          <%= (current_user.membership.s_date + 37.days).strftime("%m") %>월
                                          <%= (current_user.membership.s_date + 37.days).strftime("%d") %>일

                                          <b>(D-<%= ((current_user.membership.s_date + 36.days) - DateTime.now.to_date).to_i %>)</b>
                                        <% else %>

                                          <%= (current_user.membership.s_date + 28.days).strftime("%Y") %>년
                                          <%= (current_user.membership.s_date + 28.days).strftime("%m") %>월
                                          <%= (current_user.membership.s_date + 28.days).strftime("%d") %>일

                                          <b>(D-<%= ((current_user.membership.s_date + 27.days) - DateTime.now.to_date).to_i %>)</b>
                                        <% end %>
                                    </p>
                                <% else %>
                                    <p><i class="tiny material-icons">stars</i>훈련병 수료날짜 : 입대날짜를 입력해주세요.
                                    </p>
                                <% end %>

                                    <p><i class="tiny material-icons">list</i>신청 카테고리 :
                                        <% current_user.membership.category.each do |k| %>
                                            <%= k %>
                                        <% end %>
                                    </p>

                            <% else %>

                            <br>
                            <p><i class="tiny material-icons">loyalty</i>신청정보 : 오아미스를 신청해주세요!</p>

                            <% end %>
                            <br><br>

                            <% if current_user.membership %>
                            <a class="fsize0" href="/service/membership_update">신청정보 수정</a>
                            <% end %>
                            <p class="fsize0"><%= link_to "비밀번호 변경 및 회원탈퇴", edit_user_registration_path %></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


<%= render 'service/footer' %>
<%= render 'service/scrt' %>
